# Pandas exercise

In [2]:
import pandas as pd
import numpy as np


# Problem 1 

Create a pandas series from each of the items below: a list, numpy and a dictionary

In [3]:
# Input
import numpy as np
a_list = list("abcdefg")
numpy_array = np.arange(1, 10)
dictionary = {"A":  0, "B":1, "C":2, "D":3, "E":5}

In [4]:
#Solutions (different ways)
series1 = pd.Series(a_list)
print(series1)
series2 = pd.Series(numpy_array)
print(series2)
series3 = pd.Series(dictionary)
print(series3)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
dtype: object
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
A    0
B    1
C    2
D    3
E    5
dtype: int64

# Problem 2

Convert the series `ser` into a dataframe with its index as another column on the dataframe.

In [69]:
# input
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
print(ser[:5])

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [71]:
#Solution of Problem2
ser_df = pd.DataFrame(ser)
ser_df.reset_index()

# using pandas to_frame()
ser_df = ser.to_frame().reset_index()
ser_df

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

# Problem 3 

Combine ser1 and ser2 to form a dataframe with two columns.

In [72]:
# input
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [73]:
df = pd.DataFrame({"col1": ser1, "col2": ser2})
df

   col1  col2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

# Problem 4

Get all items of ser1 and ser2 not common to both.

In [75]:
# input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [77]:
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

# Problem 5

Get all items of ser1 and ser2 not common to both.

In [13]:
# input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [80]:
# using pandas
a_not_b = ser1[~ser1.isin(ser2)]
b_not_a = ser2[~ser2.isin(ser1)]
                          
a_not_b.append(b_not_a, ignore_index = True)

# using numpy union and intersection
ser_u = pd.Series(np.union1d(ser1, ser2))
ser_i = pd.Series(np.intersect1d(ser1, ser2))
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

# Problem 6
Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

Notes:
Do you know what percentile and median are? If no, see  <a href="https://en.wikipedia.org/wiki/Percentile">percentile</a>

In [36]:
# input
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))
result = np.percentile(ser, q = [0, 25, 50, 75, 100])
print(result)

[ 1.25117263  7.70986507 10.92259345 13.36360403 18.0949083 ]

# Problem 7 

Calculate the frequency counts of each unique value ser.

In [81]:
# input
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [88]:
ser.value_counts()

h    6
e    6
b    5
f    4
a    3
c    3
g    2
d    1
dtype: int64

# Problem 8

From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

In [92]:
# input
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser

0     3
1     4
2     1
3     4
4     4
5     3
6     2
7     1
8     3
9     4
10    4
11    2
dtype: int64

In [93]:
ser.value_counts()
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

0         3
1         4
2     Other
3         4
4         4
5         3
6     Other
7     Other
8         3
9         4
10        4
11    Other
dtype: object

# Problem 9
Bin the series ser into 10 equal deciles and replace the values with the bin name.

In [2]:
# input
import pandas as pd
import numpy as np
ser = pd.Series(np.random.random(20))

#Solution  is provided:
pd.qcut(ser, q = 10)
# we can also pass labels
pd.qcut(ser, q = [0, .10, .20, .30, .40, .50, .60, .70, .80, .90, 1], labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0    3rd
1    7th
2    3rd
3    9th
4    9th
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

# Problem 10

From ser, extract the items at positions in list pos.

In [95]:
# input

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [96]:
# using loc
ser.loc[pos]

# using series take
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

# Problem 11

Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

In [97]:
# input
ser1 = pd.Series(range(5))

ser2 = pd.Series(list('abcde'))

In [3]:
#Using Append
ser1.append(ser2)

#Using pandas
#row wise
pd.concat([ser1, ser2], axis=0)

#column wise
pd.concat([ser1, ser2], axis=1)

NameError: name 'ser1' is not defined

# Problem 12

Get the positions of items of ser2 in ser1 as a list.

In [4]:
# input
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [8]:
#Solution
list(ser1[ser1.isin(ser2)].index)

#Using Numpy where
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

#Using pandas index and get location
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

# Problem 13

Compute the mean squared error of truth and pred series.

Notes:
mean squared error is defined <a href="https://en.wikipedia.org/wiki/Mean_squared_error#Predictor">here</a>

In [11]:
# input
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [15]:
#Using numpy
np.mean((truth - pred)**2)

#Using sklear metric
from sklearn.metrics import mean_squared_error
mean_squared_error(truth, pred)

0.4356906500734513

# Problem 14 

Convert a series of date-strings to a timeseries

In [17]:
# input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])


'''
Desired Output

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
'''

'\nDesired Output\n\n0   2010-01-01 00:00:00\n1   2011-02-02 00:00:00\n2   2012-03-03 00:00:00\n3   2013-04-04 00:00:00\n4   2014-05-05 00:00:00\n5   2015-06-06 12:20:00\n'

In [19]:
#Solution
#using pandas to_datetime
pd.to_datetime(ser)

#using dateutil parse
from dateutil.parser import parse
ser.map(lambda x: parse(x))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

# Problem 15

Get the day of month, week number, day of year and day of week from ser.

In [ ]:
# input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

'''
Desired output

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day num of year:  [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']
'''

In [32]:
#day
pd.to_datetime(ser).dt.day.to_list()
pd.to_datetime(ser).dt.week.to_list()
pd.to_datetime(ser).dt.dayofyear.to_list()
pd.to_datetime(ser).dt.weekofyear.to_list()
#Week of days in word
week_dict = {0: "Monday", 1: "Tuesday", 2: "Wednesday", 3: "Thursday", 4: "Friday", 5: "Saturday", 6: "Sunday"}
pd.to_datetime(ser).dt.dayofweek.map(week_dict).to_list()
#Another method
#pd.to_datetime(ser).dt.weekday_name.to_list()

['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

# Problem 16

Compute the [euclidean distance](https://en.wikipedia.org/wiki/Euclidean_distance) between series (points) p and q, without using a formula from a library.

In [34]:
# Input
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
'''
Desired Output

18.165
'''

'\nDesired Output\n\n18.165\n'

In [40]:
#Using list comprehension
suma = np.sqrt(np.sum([(p-q)**2 for p, q in zip(p, q)]))

#Using series one to one operation
sum((p-q)**2)**0.5

#Using numpy
np.linalg.norm(p-q)

18.16590212458495

# Problem 17 

Rename a specific columns in a dataframe?

In [43]:
# input
# Rename the column Type as CarType in df and replace the ‘.’ in column names with ‘_’.
cars93 = pd.read_csv("Cars93.csv", index_col=0)#load the dataset
print(cars93.head())

'''
Desired Output

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
        'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
        'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
        'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
        'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
        'Make'],
       dtype='object')
'''

  Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
1        Acura  Integra    Small       12.9   15.9       18.8        25
2        Acura   Legend  Midsize       29.2   33.9       38.7        18
3         Audi       90  Compact       25.9   29.1       32.3        20
4         Audi      100  Midsize       30.8   37.7       44.6        19
5          BMW     535i  Midsize       23.7   30.0       36.2        22

   MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
1           31                None      Front  ...          5     177
2           25  Driver & Passenger      Front  ...          5     195
3           26         Driver only      Front  ...          5     180
4           26  Driver & Passenger      Front  ...          6     193
5           30         Driver only       Rear  ...          4     186

   Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
1        102     68           37           26.5          11.0    2705
2        115     71           38           30.0          15.0    3560
3        102     67           37           28.0          14.0    3375
4        106     70           37           31.0          17.0    3405
5        109     69           39           27.0          13.0    3640

    Origin           Make
1  non-USA  Acura Integra
2  non-USA   Acura Legend
3  non-USA        Audi 90
4  non-USA       Audi 100
5  non-USA       BMW 535i

[5 rows x 27 columns]

"\nDesired Output\n\nIndex(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',\n        'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',\n        'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',\n        'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',\n        'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',\n        'Make'],\n       dtype='object')\n"

In [62]:
#Solution1: in 2 steps
#Step1
cars93 = pd.read_csv('Cars93.csv', index_col=0)
cars93.rename(columns={"Type":"CarType"}, inplace=True)
cols = cars93.columns
#or
cars93.columns.values[2] = "CarType"

#Step2
#replace the "." with "-"
cols = list(map(lambda x: x.replace(".", "_"), cols))
cars93.columns = cols
cars93.head()

# Solution 2: working only with lists
cars93 = pd.read_csv("Cars93.csv", index_col=0)
cols = cars93.columns
cols = list(map(lambda x: x.replace(".", "_"), cols))
cols[cols.index("Type")] = "CarType"
cars93.columns = cols
cars93.iloc[23:55, 12:18]

,Horsepower,RPM,Rev_per_mile,Man_trans_avail,Fuel_tank_capacity,Passengers
24,93,4800,2595,Yes,14.0,5
25,100,4800,2535,Yes,16.0,6
26,142,5000,1970,No,20.0,7
27,100,4800,2465,No,16.0,6
28,300,6000,2120,Yes,19.8,4
29,92,6000,2505,Yes,13.2,5
30,214,5800,1980,No,18.0,6
31,63,5000,3150,Yes,10.0,4
32,127,6500,2410,Yes,13.2,5
33,96,4200,2805,Yes,15.9,5
34,105,4600,2285,Yes,15.4,4
35,115,5500,2340,Yes,15.5,4
36,145,4800,2080,Yes,21.0,7
37,140,4800,1885,No,16.0,5
38,190,4200,1415,No,20.0,6
39,55,5700,3755,Yes,10.6,4
40,90,5400,3250,Yes,12.4,4
41,160,5800,2855,Yes,15.9,4
42,102,5900,2650,Yes,11.9,4
43,140,5600,2610,Yes,17.0,4
44,81,5500,2710,Yes,11.9,5
45,124,6000,2745,Yes,13.7,5
46,92,5550,2540,Yes,11.9,4
47,128,6000,2335,Yes,17.2,5
48,278,6000,1955,No,22.5,5
49,185,5200,2325,Yes,18.5,5
50,225,6000,2510,Yes,20.6,4
51,160,4400,1835,No,18.4,6
52,210,4600,1840,No,20.0,6
53,82,5000,2370,Yes,13.2,4
54,103,5500,2220,Yes,14.5,5
55,164,5600,2505,Yes,15.5,5

# Problem 18

Check if a dataframe has any missing values?

In [33]:
# input
df = pd.read_csv("datasets/Cars93.csv")
print(df.columns)
df['Luggage.room'].iloc[87:]# the NaN is an example of missing value in the column 'Luggage.room'

Index(['Unnamed: 0', 'Manufacturer', 'Model', 'Type', 'Min.Price', 'Price',
       'Max.Price', 'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain',
       'Cylinders', 'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile',
       'Man.trans.avail', 'Fuel.tank.capacity', 'Passengers', 'Length',
       'Wheelbase', 'Width', 'Turn.circle', 'Rear.seat.room', 'Luggage.room',
       'Weight', 'Origin', 'Make'],
      dtype='object')

87    10.0
88     NaN
89    14.0
90    15.0
91    14.0
92    15.0
Name: Luggage.room, dtype: float64

# Problem 19

Count the number of missing values in each column of df. Which column has the maximum number of missing values?

In [24]:
# input
df = pd.read_csv("datasets/Cars93.csv")

# Problem 20

Replace missing values in Luggage.room columns with the column mean.

In [34]:
# input
df = pd.read_csv("datasets/Cars93.csv")
df[["Luggage.room"]]

    Luggage.room
0           11.0
1           15.0
2           14.0
3           17.0
4           13.0
..           ...
88           NaN
89          14.0
90          15.0
91          14.0
92          15.0

[93 rows x 1 columns]

# Problem 21

Swap rows 1 and 2 in df.

In [37]:
# input
df = pd.DataFrame(np.arange(25).reshape(5, -1))
df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

# Problem 22

1. Normalize all columns of df by subtracting the column mean and divide by standard deviation.

2. Range all columns of df such that the minimum value in each column is 0 and max is 1.

**Don’t use external packages like sklearn**

In [38]:
# input
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
df1 = df.copy(deep = True)